@charset "UTF-8";


@media screen and (min-width: 768px) and (max-width: 992px) {
    #icon1 {display: none;}

    #img {
        float: right;
        width: 40%;
        height: 100%;
    }
    
    #icon2 {
        display: block;
    }

    section#login {
        width: 700px;
    }

    section#forms {
        float: left;
        width: 70%;
    }
}

@media screen and (min-width: 992px) {
    #icon1 {display: none;}
    #icon2 {display: none;}

    #img{
        float: left;
        width: 40%;
        height: 100%;
    }


    #icon3 {
        display: block;
        margin-right: 10px;
    }

    section#login {
        width: 940px;
    }

    section#forms {
        float: right;
        width: 50%;
    }
}