@charset "UTF-8";


@media screen and (min-width: 768px) and (max-width: 992px) {
    #icon1 {display: none;}

    #img {
        background-color: #eadcdc;
        width: 40%;
        height: 100%;
        margin-top: 0px;
    }
    
    #icon2 {
        display: block;
        transform: translateY(38%);
    }

    section#login {
        display: flex;
        width: 700px;
    }

    div#forms {
        border: 1px solid gray;
        border-radius: 15px;
        margin: auto;
    }

    form > input[type=submit] {
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    #icon1 {display: none;}
    #icon2 {display: none;}

    #img{
        background-color: #efe6ff;
        float: left;
        width: 40%;
        height: 100%;
        margin-top: 0px;
    }


    #icon3 {
        display: block;
        margin-right: 10px;
        transform: translateY(18%);
    }

    section#login {
        display: flex;
        width: 940px;
    }

    div#forms {
        width: 450px;
        border: 1px solid gray;
        border-radius: 15px;
        margin: auto;
    }

    div.campo > input {
        width: 91%;
    }

    form > input[type=submit] {
        width: 100%;
    }
}